.background-img {
	background-size: cover;
}

.gabeisbatch {
	text-align: center;
}


.main {
	background-color: rgb(168, 201, 255);
}

.main-question {
	text-align: center;
	color: black;
	font-size: 40px;
}

.navbar-nav {
	float: right;
}

.questions {
	height: 300px;
	width: 300px;
	border-radius: 50%;
}

.round-button-circle:hover {
	background:#30588e;
}

.bigrow {
	height: 80px;
}

.circle {
	width: 100px;
	height: 100px;
	background: white;
	-moz-border-radius: 50px;
	-webkit-border-radius: 50px;
	border-radius: 50px;
}

/*
.round-button a {
    display:block;
	float:left;
	width:100%;
	padding-top:50%;
    padding-bottom:50%;
	line-height:1em;
	margin-top:-0.5em;
    
	text-align:center;
	color:#e2eaf3;
    font-family:Verdana;
    font-size:1.2em;
    font-weight:bold;
    text-decoration:none;
}

.round-button {
	width:25%;
}
*/

.round-button-circle {
	display:block;
	float:left;
	width: 100%;
	padding-top:50%;
	padding-bottom:50%;
	line-height:1em;
	margin-top:-0.25em;
	border-radius: 50%;
	text-align:center;
	color: white;
	font-family:Verdana;
	font-size:2em;
	font-weight:bold;
	/* border:10px solid #cfdcec; */
	overflow:hidden;

	background: #4679BD; 
	box-shadow: 0 0 3px gray;
}
